@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-7 col-12-medium">
                <h2>Natural Store</h2>
                <p style="font-size: 1em;">
                    Группа энтузиастов, которые хотят сделать твою жизнь приятнее. Весь товар мы собираем и обрабатываем самостоятельно, следуя лучшим известным технологиям

                    Наши предложения высочайшего качества, идеальны для жителей пыльных мегаполисов, которые хотят снизить стресс и улучшить память

                    В скором времени будут организованы выездные лесные ретриты. А записаться можно уже сейчас. Мы будем рады каждому!
                </p>
            </div>
            <div class="col-5 col-12-medium">
                <img src="/images/logo.png" width="400" height="400" alt="Alternate Text" />
            </div>
        </div>
    </div>
    <h3 style="padding: 2em 0 1.5em 0;">Отзывы наших клиентов</h3>
    <div class="row">
        <div class="col-4 col-12-medium">

            <!-- Box -->
            <section class="box feature">
                <a href="#" class="image featured"><img src="/images/pic01.jpg" alt=""></a>
                <div class="inner">
                    <header>
                        <h2>Грибник Григорий</h2>
                        <p>г. Грозный, Кауказ</p>
                    </header>
                    <p>Мухоморы потрясающие. шляпки цельные, высушены хорошо. В баню с друзьями самое то</p>
                </div>
            </section>

        </div>
        <div class="col-4 col-12-medium">

            <!-- Box -->
            <section class="box feature">
                <a href="#" class="image featured"><img src="/images/pic02.jpg" alt=""></a>
                <div class="inner">
                    <header>
                        <h2>Алексей</h2>
                        <p>Где-то из леса</p>
                    </header>
                    <p>Это не только отличный товар, но и отличная служба доставки. Поговорил с курьером 5 минут и узнал столько интересной информации, что готов заказать ещё ради второй встречи с ним</p>
                </div>
            </section>

        </div>
        <div class="col-4 col-12-medium">

            <!-- Box -->
            <section class="box feature">
                <a href="#" class="image featured"><img src="/images/pic03.jpg" alt=""></a>
                <div class="inner">
                    <header>
                        <h2>Васёк</h2>
                        <p>Живу по кайфу ежжжжи</p>
                    </header>
                    <p>Доволен как слон. Эффект от ежовика выше всяких похвал, наконец бошка начала работать</p>
                </div>
            </section>

        </div>
    </div>
    @Html.Raw(Model.Text)
</div>