@model IEnumerable<string>

@if (Model.Any())
{
    <section>
        <ul class="small-image-list" style="list-style-type: none;">
            @foreach (string entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Category" asp-route-category="@entity.ToString()">
                        @entity
                    </a>
                </li>
            }
        </ul>
    </section>
}