@model ServiceItem
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}
<div style="background-color: wheat; padding: 1em;">

    <h2>
        @Model.Title
    </h2>
    <div style="display: flex;">
        <div style="padding-right: 1em;">
            <img class="img-block" src="~/images/@Model.TitleImagePath" />
        </div>

        <h5>
            @Model.Subtitle
        </h5>

    </div>
    <div>
        @Html.Raw(Model.Text)
    </div>

</div>